.haftBg {
	background-image: linear-gradient(to bottom, #9CECFB , #65C7F7);
	height: -webkit-fill-available;
	padding-top: calc(50% - 100px);
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}
.marginRight0 {
	margin-right: 0px !important;
}
.welcome {
	font-size: 2em;
	color:#333333;
	font-weight: 700;

}
.toChocola {
	font-size: 1em;
	color:#333333;
	font-weight: 400;
}
.containLg{
	height: -webkit-fill-available;
	padding-top: calc(50% - 200px);
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}
.App-logo{
	height: 70%;
}
.ContainText{
	padding: 7px;
}
.Inputfields{
	max-width: 300px;
	border-radius: 15px;
	width: -webkit-fill-available;
	border: solid 1px #cccccc;
}
.TextLogin{
	font-size: 2em;
	color:#65C7F7;
	font-weight: 700;
	padding: 7px;
}
.ButtonLogin{
	padding: 3px 30px 3px 30px;
	border-radius: 15px;
	font-size: 1em;
	border: solid 1px #65C7F7;
	display: inline-block;
	margin-right: 30px;
	color:#65C7F7;
	cursor: pointer;
	max-width: 120px;
	text-align: center;
	background-color: #ffffff;
}
.ButtonLogin:hover{
	background-color: #eeeeee;
}
.ButtonCreateAcc{
	padding: 3px 15px 3px 15px;
	border-radius: 15px;
	font-size: 1em;
	background-color: #65C7F7;
	display: inline-block;
	color: #ffffff;
	cursor: pointer;
	border: 0px;
	max-width: 150px;

}
.ButtonCreateAcc:hover{
	opacity: 0.5;
}
.containBtn{
	padding: 7px;

}
.ContainModalBody{
	width: -webkit-fill-available;
	padding: 10px;
	text-align: center;
}
.ContainImgModalBody{
	
}
.imgModal{
	width: 100px;
}
.BoldText{
	padding: 10px;
	font-weight: 700;
	font-size: 1.5em;
	color:#333333;
}
.RegularText{
	padding: 10px;
	font-weight: 400;
	font-size: 0.9em;
	color:#333333;
}
.btnCreatAccount{
	max-width: 300px;
    border-radius: 15px;
    width: -webkit-fill-available;
    background-color: #65C7F7;
   	color: #ffffff;
   	border: 0px;
   	padding: 5px 10px;
   	cursor: pointer;
}
.btnCreatAccount:hover{
	opacity: 0.5;
}
.ContainProfile{
	text-align: center;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	padding-top: 100px;
}
.ProfileUser{
	font-weight: 700;
	font-size: 1.2em;
	color:#333333;
}
.Avatar{
	border-radius: 50%;
	background-color: #999999;
	left: 100px;
	margin: 50px;
}
.avatarraw{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	cursor: pointer;

}
.ContaintData{
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	padding: 15px;
	text-align: center;
	border-radius: 15px;
}
.pad100{
	padding: 100px;
}
.btnChooseData{
	padding: 3px 15px 3px 15px;
	border-radius: 15px;
	font-size: 1em;
	background-color: #65C7F7;
	display: inline-block;
	color: #ffffff;
	cursor: pointer;
	border: 0px;
	max-width: 150px;
}
.btnChooseData:hover{
	opacity: 0.5;
}
.listData{
	padding: 15px;
}
.detailData{
	width: -webkit-fill-available;
	border-bottom: 1px solid #cccccc;
	margin: 15px;
}
.titleData{
	color:;
}
.titlelistData{
	font-size: 1.2em;
	font-weight: 700;
	color: #666666;
	border-bottom: 1px solid #cccccc;
}
.icCheced{
	margin-right: 5px;
	color: #666666;
}
input[type=file] {
  cursor: pointer;
  width: 170px;
  height: 40px;
  overflow: hidden;
  border-radius: 15px;
}

input[type=file]:before {
  width: 170px;
  height: 60px;
  font-size: 16px;
  content: 'Import Data';
  display: inline-block;
  background: #65C7F7;
  color: #fff;
  padding:  8px;
  border-radius: 10px;
  text-align: center;

}
input[type=file]:hover {
  opacity: 0.5;
}
.ButtonChoosefile{
  padding: 30px;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #dddddd;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
.selectedLi{
	background-color: #65C7F7;
}