.GetStart{
	background-color: #0D84E8;
	color: #ffff !important;
	border-radius: 15px;
	width: 150px;
  margin-right: 30px;
}
.GetStart:hover{
	background-color: #77D9FF;
}
.Close{
    border-radius: 15px;
    width: 70px;
    color: #ffff;
    background-color: #cccccc;
}
.Close:hover{
  background-color: #eeeeee;
}
.floatright{
  float: right;
}
.Next{
  background-color: #0D84E8;
      border-radius: 15px;
    width: 120px;
    color: #ffff;
}
.Next a{
  color:#ffffff;
}
.Next:hover{
    background-color: #77D9FF;
}
.Btncontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.Btncontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.Btncontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Btncontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.Btncontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Btncontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmarkdot {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.containerRadio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmarkdot:after {
  content: "";
  position: absolute;
  display: none;
}


/* Hide the browser's default radio button */
.containerRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
.containerRadio:hover input ~ .checkmarkdot {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadio input:checked ~ .checkmarkdot {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.containerRadio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadio input:checked ~ .checkmarkdot:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerRadio .checkmarkdot:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.ContainCheckbox {
	padding-left: 30px;
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}
.modal-backdrop.fade {
  opacity: 0.5 !important;
  }
.model-content {
     border: 0px solid rgba(0,0,0,.2); 
    border-radius: 15px !important;
}
.listAlgorthm {
  font-weight: 400;
}
.FontTitle {
  color:#666666;
  font-size: 16px;  
  font-weight: 700;
}
.fontsmalltitle{
  color:#666666;
  font-size: 14px;  
  font-weight: 400;
}
.InputGroup {
  width: inherit;
  padding: 5px;

}
.Inputfields{
  border-radius: 15px;
  border:2px #dddddd solid;
  width: 70%;
  padding: 5px 10px;
}
.tooltipNoti {
  position: relative;
  display: inline-block;
  height: 10px;
}
.tooltipNoti .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}
.tooltipActive {
  visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}
.containRRD{
  padding: 0 50px;
  position: absolute;
  width: 100%;
}
.titleAlgo {
  font-weight: 700;
  font-size:1.2em;
  color: #999999;
  padding: 30px 15px;
}
.menu {
  min-height: 70px;
  z-index: 3;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid #eeeeee;
}
.menuTitle {
  font-weight: 700;
  color: #004C9E;
  font-size: 1em;
}
.menuInfo {
  font-weight: 400;
  color: rgb(102,102,102);  ;
  font-size: 0.8em;
  font-weight: 700;
}
.menu:hover{
  background-color: #77D9FF;
  color: #ffff;
  cursor: pointer;
}
.menu:hover .menuTitle {
  color:#ffff;
}
.menu:hover .menuInfo{
  color:#eeeeee;
}
.propblem{
  background-color: #ffff;
  position: relative;
  text-align: center;
  height:-webkit-fill-available;
  border-radius: 15px;
}
.coinproblem{
    position: absolute;
  top: 45%;
  text-align: center;
  left: 40%;
}
.strproblem{
  color: #666666;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;

}
.whiretext{
    color: #ffffff !important;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.ModalFooter{
  position: relative;
}
.ContainBtnBox{
  float: right;
  padding: 15px;
}
.paddingRight15{
  padding-right: 15px;
}
.NextModal {
  position: absolute;
  background-color: #ffffff;
  top:0px;
  left: 0px;
  min-height: 350px;
  width: 100%;
  padding: 16px;

}
.NextPreLine{
  position: relative;
  padding: 15px;
}
.ColumnPara{

  color: #333333;
}
.SelectCol{
  padding-left: 30px;
  display: inline-block;
}
.ColumnPara:hover{
  cursor: pointer;

}
.PointerEventNone {
  pointer-events: none;
  color: #333333;
}
.textInfo{
  line-height: 1.5;
   color: #212529;
   font-weight: 700;
   font-size: 1rem;
}
.explainInfo{
  color: #333333;
  padding-left: 15px;
  font-size: 0.9rem;
}
.spaceInfo{
  padding: 10px;
}
.margin30 {
  margin-top: 30px;
}
.chooseColTable{
      overflow: auto;
    width: 200px;
    height: 200px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #dee2e691;
}
.cellCol{
  font-size: 0.9rem !important;
  padding: 10px !important;
  border-radius: 15px !important;
  cursor: pointer;
}
.btnChooseRuleTable{
  border-radius: 15px;
    border: 1px solid #dee2e691;
    width: 200px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: 700;
}
.btnChooseRuleTable:hover{
  background-color: #dddddd;
}
.padding15{
  padding: 15px;
}